/resources
/.vscode
*.ipynb_checkpoints*
/demo/frames/
/demo/decomposed_frames/
*__pycache__*
/target
/video-trimming/decomposed_frames/
/video-trimming/frames/
/video-trimming/temp_numbered_frames/
/video-trimming/trimmed_decomposed_frames/
/video-trimming/trimmed_decomposed_frames_2/
/video-trimming/trimmed_frames/
/video-trimming/target/

video-resizing-freivalds/init/config.json
video-resizing-freivalds/script/config.json
video-resizing-freivalds/verifier/config.json

video-trimming/init/config.json
video-trimming/script/config.json
video-trimming/verifier/config.json

# Ignore all .txt files in any directory
**/*.txt

# Ignore all .png files in any directory
**/*.png

# Ignore all .mp4 files in any directory
**/*.mp4

# Ignore all .bin files in any directory
**/*.bin

demo/test_pk.bin
demo/test_vk.bin
