/resources
/.vscode
*.ipynb_checkpoints*
/demo/frames/
/demo/decomposed_frames/
*__pycache__*
/target
/video-trimming/decomposed_frames/
/video-trimming/frames/
/video-trimming/temp_numbered_frames/
/video-trimming/trimmed_decomposed_frames/
/video-trimming/trimmed_frames/
/target
